<div class="card">
  <div class="cards-header">
    <div class="row">
      <div class="col"><h2>Carrito de Compras</h2></div>
      <div class="col"><button class="btn btn-danger" (click)='finalizar()'>Checkout</button></div>
    </div>


  </div>
  <div class="cards-body">
    <ul class="list-group">

      <li class="list-group-item active"  aria-disabled="true">
        <div class="row">
          <div class="col">
            Productos
          </div>
          <div class="col">
            Cantidad
          </div>
          <div class="col">

          </div>
        </div>
      </li>
      <li class="list-group-item" *ngFor = "let row of carrito">
        <div class="row">
          <div class="col">
            <h4>{{row.nombre}}</h4>
            <p>{{row.descripcion}}</p>
          </div>
          <div class="col">
            {{row.quantity}}
          </div>
          <div class="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <mat-icon aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" data-toggle="modal" data-target="#editdetalle" (click)='editardetalle(row)'>Editar</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#eliminardetalle" (click)='eliminardetalle(row)'>Eliminar</a>
              </div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <!-- Modal -->
<div class="modal fade" id="editdetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">Agregar a Carrito de comptras</h4>
      </div>
      <div class="modal-body">
        <div >
          <h3>{{nombre}}: </h3>
          <p>{{descripcion}}</p>

          <label for="">Cantidad de {{nombre}}</label>
          <input type="text"  class="form-control" [(ngModel)]='quantity' >


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='guardar()'>Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminardetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">Eliminar del carrito comptras</h4>
      </div>
      <div class="modal-body">
        <div >

          <p>¿Desea eliminar el producto {{nombre}}</p>




        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='eliminar()'>Eliminar</button>
      </div>
    </div>
  </div>
</div>
</div>
