  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Carrito de Compras</h1>
        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Productos</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-6">
                    <table id="example2" class="table table-responsive table-bordered table-striped table-hover dataTable " >
                      <thead class="thead-dark" >
                        <tr>
                          <th>ID</th>
                          <th >Producto</th>
                          <th>Sku</th>
                          <th>Descripción</th>
                          <th>Gestionar</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor = "let row of productos | paginate: { itemsPerPage: 6, currentPage: p , totalItems: total}" ng-dblclick="gestionar()">
                        <td *ngFor = "let item of headers ">{{row[item]}}</td>
                        <td><button class="btn btn-warning" data-toggle="modal" data-target="#myModal" >
                          <mat-icon aria-hidden="false" aria-label="Example home icon"  (click)='agregar(row)'>shopping_cart</mat-icon>
                        </button></td>
                      </tr>
                      </tbody>

              </table>
              <pagination-controls  class="dataTables_paginate paging_simple_numbers" (pageChange)="p = $event"></pagination-controls>


            </div>
            <div class="col-sm-6">
              <button class="btn btn-info" (click)='verCarrito()'> {{btntitel}}</button>
              <div *ngIf='view'>
                <app-carts></app-carts>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">Agregar a Carrito de comptras</h4>
      </div>
      <div class="modal-body">
        <div >
          <h3>{{nombre}}: </h3>
          <p>{{descripcion}}</p>

          <label for="">Cantidad de {{nombre}}</label>
          <input type="text"  class="form-control" [(ngModel)]='quantity' >


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='guardar()'>Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>
</div>
